.navbar-brand {
	font-weight: bold;
}

.sidebar {
	height: calc(100vh - 56px); /* Pełna wysokość minus navbar */
	position: fixed;
	top: 56px; /* Ustawia początek pod navbar */
	bottom: 0;
	left: 0;
	z-index: 100;
	overflow-y: auto; /* Przewijanie w pionie */
}

.sidebar .nav-link.active {
	font-weight: bold;
	color: #0d6efd;
}

.main {
	margin-top: 20px;
}

.table-responsive {
	margin-top: 20px;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
}

.modal-title {
	font-weight: bold;
}

/* Styl dla tła paska bocznego */
.sidebar {
	background-color: #f8f9fa; /* Jasnoszary kolor */
}
.custom-navbar {
	background-image: linear-gradient(
		45deg,
		rgba(169, 49, 238, 0.856),
		rgba(31, 68, 189, 0.815)
	);
	animation: gradient 5s infinite;
	margin: 0;
	padding: 0;
}
.custom-section {
	display: flex;
	justify-content: center;
}

/* Styl dla sekcji o zespole */
#nowosci-i-aktualnosci {
	color: white;
}

.custom-navbar-brand img {
	max-height: 150px; /* Dostosuj wysokość logo */
}

.custom-navbar-nav .custom-nav-link {
	padding: 0.5rem 1rem;
}

/* Stylizacja nagłówka */
.custom-jumbotron {
	background-image: linear-gradient(
		45deg,
		rgba(169, 49, 238, 0.856),
		rgba(31, 68, 189, 0.815)
	);
	animation: gradient 5s infinite;
	margin: 0;
	padding: 0;
}

.custom-jumbotron-heading {
	font-size: 3rem; /* Rozmiar czcionki */
}

/* Stylizacja stopki */
.custom-footer {
	background-color: #00f7ff; /* Kolor tła */
	color: #fff; /* Kolor tekstu */
}

/* Stylizacja sekcji */
.custom-section {
	padding: 50px 0; /* Wewnętrzny odstęp */
}

/* Stylizacja linków w drugim navbarze */
.second-navbar .nav-link {
	color: #000000; /* Kolor tekstu */
	padding: 0.5rem 1rem; /* Dostosuj wypełnienie dla lepszego wyglądu */
}

.second-navbar .nav-link:hover {
	color: rgb(161, 12, 12); /* Zmiana koloru tekstu po najechaniu myszą */
}

/* Dodatkowe niestandardowe style dla linków w drugim navbarze */
.second-navbar a.nav-link {
	margin-right: 20px; /* Dostosuj margines prawy dla większego odstępu */
	color: #000000; /* Kolor tekstu */
	padding: 0.5rem 1rem; /* Dostosuj wypełnienie dla lepszego wyglądu */
}

.second-navbar a.nav-link:hover {
	color: rgb(192, 4, 250); /* Zmiana koloru tekstu po najechaniu myszą */
}
.chart-section .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
#salesChart {
    max-width: 100%;
  }
  