.custom-navbar {
    background-image: linear-gradient(45deg, rgba(169, 49, 238, 0.856), rgba(31, 68, 189, 0.815));
    animation: gradient 5s infinite;
    margin: 0;
    padding: 0;
  }
  .custom-section {
    display: flex;
    justify-content: center;
  }
  
  /* Styl dla sekcji o zespole */
  #nowosci-i-aktualnosci {
    color: white;
  }
  
  .custom-navbar-brand img {
    max-height: 150px; /* Dostosuj wysokość logo */
  }
  
  .custom-navbar-nav .custom-nav-link {
    padding: 0.5rem 1rem;
  }
  
  /* Stylizacja nagłówka */
  .custom-jumbotron {
    background-image: linear-gradient(45deg, rgba(169, 49, 238, 0.856), rgba(31, 68, 189, 0.815));
    animation: gradient 5s infinite;
    margin: 0;
    padding: 0;
  }
  /* Stylizacja nagłówka */

.navbar-brand {
    font-size: 1.5rem;
}

/* Stylizacja formularza */
.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

/* Stylizacja przycisku */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1rem;
    padding: 8px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Stylizacja formularza */
.form-container {
    border: 1px solid #ced4da; /* Dodanie ramki */
    border-radius: 5px; /* Zaokrąglenie rogów */
    padding: 20px;
    margin-top: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

/* Stylizacja przycisku */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 1rem;
    padding: 8px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
