.bodyR {
    background-image: linear-gradient(45deg, rgba(119, 35, 187, 0.856), rgba(20, 100, 204, 0.87));
    animation: gradient 5s infinite;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.card {
    max-width: 400px; /* Maksymalna szerokość karty */
    margin: auto; /* Wyśrodkowanie karty */
}

.form-check-label {
    font-weight: normal;
}

.falling-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1; /* Przesunięcie pod obiekt */
}


.falling-image-container img {
    position: absolute;
    top: -100px; /* Początkowa pozycja poza górnym obramowaniem */
    left: 50%; /* Ustawienie pozycji poziomej na środku kontenera */
    transform: translateX(-50%); /* Wyśrodkowanie ikon poziomo */
    animation: fallAnimation 5s linear infinite; /* Animacja spadania */
}

@keyframes fallAnimation {
    0% {
        transform: translateY(-100px) translateX(-50%); /* Początkowa pozycja obrazka poza górnym obramowaniem */
    }
    100% {
        transform: translateY(calc(100vh + 100px)) translateX(-50%); /* Końcowa pozycja pod dolnym obramowaniem */
    }
}


@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
